* { font-family: "Trebuchet MS" !important; }

/*html*/
html, body {
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
}

/*body background and morphology*/
body{
	display: table;
	width: 100%; 
	height: 100%;
	
	background-color: #cccccc;
}

/*Page Title*/
.page-header {
	color: white;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
	padding: 10px;
	background-color: #456;
}

/*Main body*/
#main-body{
	display: table-row; 
	height: 100%; 
}




#container {
	min-height: 95%;
	max-height: 95%;
    min-width: 480px; 
    max-width: 90%; 
	margin: 0 auto; 

	/*TODO REMOVE*/
	border: 10px rgb(255, 51, 0) solid;
	border-radius: 10px;

}



/*footer left text*/
footer {
	clear:both;
	padding: 10px;
	background-color: #456;
	text-align:left;
	color:white;
}
footer div{
	display: inline-block;
}
/*footer right text (Copyright)*/
footer .copyright{
	text-align:right;
	float: right;
}