* { font-family: "Trebuchet MS" !important; }

/*html*/
html, body {
	height: 100%; 
	margin: 0; 
	padding: 0; 
}




/*body background and morphology*/
body{
	display: table;
	width: 100%; 
	height: 100%;
	
	background-image: url("../img/bg-mash-dark.jpg");
	background-color: #cccccc;
}


/*header*/
header ul{
	position:relative;
	top:-40px;
	margin: 0px;
	padding: 0% 10%;
	
	background-color: #c1d5f8;
	opacity: 0.9;
	filter: alpha(opacity=85); /* For IE8 and earlier */
	
	display: table;
	width: 80%;
	list-style: none;
}
header ul li{
	display: table-cell;
	text-align: center;
}


/*Logo*/
.header-logo{
	padding: 0px;
	margin: 0px;
	width: 100%;

}
.header-logo img{
	position: relative;
	width:100px;
	height:100px;
	top: 40px;
	padding: 0px;
	margin: 0px;
}


/*Navigation Menu*/
.header-menu{
	position:relative;
	top:-22px;
	width: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
	list-style: none;
	font-size: 120%;	
}
.header-menu li{
	display: inline-block;
	font-weight: bold;
	padding: 0px 0px;
	margin: 0px 20px;
}
.header-menu a {
	text-decoration: none;
	color: #456;
}
.header-menu a:hover {
	color:#999;
	border-radius: 0px;
	border-top: 4px solid #999;
	border-bottom: 4px solid #999;
	padding: 2px 0px;
	margin: 2px 0px;
	}
.header-menu #selected {
	color: #456;
	border-radius: 0px;
	border-top: 4px solid #456;
	border-bottom: 4px solid #456;
	padding: 2px 0px;
	margin: 2px 20px;
}


/*Cart button*/
.header-cart{
	position:relative;
	top: -5px;
	width: 100%;
	bottom: 0px;
	margin: 0px;
	padding: 0px 0px;
}
.header-cart li{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.header-cart li a{
	padding: 0px 0px;
	margin: 0px;
}
.header-cart img{
	width:40px;
	height:40px;
	border:0;
}



/*Page Title*/
.header-punchline {
	color: white;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	margin: 0px 200px;
}


/*Main body*/
#main-body{
	display: table-row; 
	height: 100%; 
}


/*Main page*/
#home-body{
	display: table-cell; 
	overflow-y: auto;
	
	background-color:white;
	margin: 30px 0px 0px 0px;
	padding: 100px 200px;
	font-size: 20px;
}
#home-body #tutorial{
	text-align:center;
}


/*All category pages*/
#products-grid{
	list-style: none;
	margin: 0px 0px 0px 0px;
	text-align: center;
	padding: 0px 100px;
}
#products-grid li{
	background-color: #456;
	border-radius: 0px;
	padding: 5px;
	margin: 10px 5px;
	display: inline-block;
}
#products-grid li a{
	text-decoration: none;
}
#products-grid img{
	height: 230px; 
    width: 230px;
}
.title, .price{
	color: white;
	font-size: 17px;
	text-align: center;
	max-width: 230px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}



/*Product*/
#product-top {
	list-style: none;
	margin: 0px;
	text-align: center;
	padding: 0;
}
#product-top img{
	max-width: 600px;
}
#product-top li{
	border-radius: 0px;
	padding: 5px;
	margin: 10px 0px;
	margin-left: 50px;
	display: inline-block;
	vertical-align:top;
}
#product-top #product-price-cart a{
	color: white;
	text-decoration: none;
	padding: 5px;
	background-color:#456;	
}
#product-top #product-price-cart a:hover{
	background-color:#999;
}
#product-top #product-description p{	
	word-wrap: break-word;
	max-width: 500px;
	text-align: left;	
}



/*Comments*/
#product-comments table  {border-collapse:collapse;border-spacing:0;border-color:#ccc;width: 100%}
#product-comments table td{font-family:Arial, sans-serif;padding:10px 30px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#fff;}
#product-comments table th{font-family:Arial, sans-serif;text-align:left;vertical-align:top;font-weight:normal;padding:10px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#f0f0f0;}




/*Cart*/
#carttable  {border-collapse:collapse;border-spacing:0;border-color:#ccc;width: 100%}
#carttable td{font-family:Arial, sans-serif;padding:10px 30px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#fff;}
#carttable th{font-family:Arial, sans-serif;text-align:left;font-weight:normal;padding:10px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#f0f0f0;}
#carttable {
	width: 100%;
	table-layout: fixed;
	list-style: none;
	margin: 0px;
	text-align: left;
	padding: 0;
	
}
#carttable th{
	padding: 0px 0px 0px 20px;
}
#carttable img{
 width: 100px ;
 height: 100px ;
}
#carttable #tablenumber{
	width: 50px;
}
#carttable #tableimage{
	width: 100px;
}

#carttable a{
	color: black;
	text-decoration: none;
}
#buybutton {
	text-align:center;
}
#buybutton a{
	color: white;
	text-decoration: none;
	padding: 5px;
	background-color:#456;
}
#buybutton a:hover{
	background-color:#999;
}


/*Page index*/
#page-index {
	position:relative;
	padding: 0px 0px;
	margin: 50px 0px 0px 0px;
	list-style: none;
	font-size: 120%;
	text-align:center;
}
#page-index li{
	display: inline-block;
	font-weight: bold;
	padding: 0px 0px;
	margin: 0px 10px;
}
#page-index li a{
	text-decoration: none;
	color: #456;
	padding: 0px 0px;
	margin: 0px 5px;
}
#page-index #selected{
	color: #456;
	border-radius: 0px;
	border-top: 3px solid #456;
	border-bottom: 3px solid #456;
	padding: 0px 0px;
	margin: 0px 20px;
}



/*footer left text*/
footer {
	clear:both;
	background-color: #456;
	
}
/*footer right text (Copyright)*/
footer .copyright{
	padding: 10px;
	text-align:right;
	color:white;
}

#container {
    height: 900px; 
    min-width: 700px; 
    max-width: 1900px; 
    margin: 0 auto; 
}
